# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/

# Flask
instance/
.webassets-cache

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Local development
*.log

# Dataset - Exclude large training images, keep only necessary files
dataset/Pokemon Labelled Classification Images/

# Keep these dataset files (they're small and needed)
!dataset/class_names.txt
!dataset/Pokedex Image Dataset/
!dataset/updated_pokedex_dataset.csv
